# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (e.g., 1.0.0)'
        required: true
      changelog:
        description: 'Changelog/Release notes'
        required: false
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish to GitHub and Modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: 7K26IAQu
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

          files: build/libs/!(*-dev).jar

          name: ${{ github.event.release.name }}
          version: ${{ github.ref_name }}
          changelog: ${{ github.event.release.body }}

          game-versions: |
            1.21.10
